[Desktop Entry]
Encoding=UTF-8
Exec=/home/jay/.local/bin/docker-deb-start-0.0.4 debian-libreoffice:9.5.11-gtk2-firefox
Icon=/home/jay/.local/share/icons/libreoffice-logo-1.png
Type=Application
Terminal=false
GenericName=LibreOffice (9.5.11-gtk2-firefox)
Name=LibreOffice (9.5.11-gtk2-firefox)
StartupNotify=false
Categories=Office
