[Desktop Entry]
Encoding=UTF-8
Exec=/home/jay/.local/bin/docker-deb-start-0.0.1 debian-libreoffice-1.1.5
Icon=/home/jay/.local/share/icons/libreoffice6.0-writer.svg
Type=Application
Terminal=false
GenericName=LibreOffice
Name=LibreOffice-6.0
StartupNotify=false
Categories=Office
